<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>Your order cancelled</p>
</body>
</html>



<div class="address text-center mt-5" style="border:1px solid;width:50%;height:500px;border-radius:5px; background-color:white">
    <form method="POST">{% csrf_token %}
        <input type="text" name="add_1" placeholder="House no./Building name"><br><br>
        <input type="text" name="add_2" placeholder="Road Name/Area/colony"><br><br>
        <input type="number" name="pincode" placeholder="pincode"><br><br>
        <input type="text" name="city" placeholder="City"><br><br>
        <select name="state">
            <option>State</option>
            <option>Kerala</option>
            <option>Tamil Nadu</option>
            <option>Karnataka</option>
            <option>Asam</option>
        </select><br><br>
        <input type="text" name="c_name" placeholder="Contact name"><br><br>
        <input type="number" name="c_num" placeholder="Contact number"><br><br>
        <input type="submit" value="submit">
    </form>
</div>

